*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.logo{
    flex: 0 0 auto;
}


.logo img{
    height: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
}

nav ul li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #ff0000;
}
